<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2>Title</h2>
  <div class="field">
    <%= f.text_field :title %>
  </div>
  <h2>Map</h2>
  <div id="map" style="height: 300px; width: 500px; margin-bottom: 2em;"></div>
  <h2>Body</h2>
  <div class="field">
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  var map = L.map('map', {
    center: [51.505, -0.09],
    zoom: 13
  });

  L.tileLayer('http://tile.stamen.com/toner/{z}/{x}/{y}.png', {
    attribution: 'foobar',
    maxZoom: 20
  }).addTo(map);

  // Initialize the FeatureGroup to store editable layers
  var drawnItems = new L.FeatureGroup();
  map.addLayer(drawnItems);

  // Initialize the draw control and pass it the FeatureGroup of editable layers
  var drawControl = new L.Control.Draw({
      edit: {
          featureGroup: drawnItems
      }
  });
  map.addControl(drawControl);

  map.on('draw:created', function (e) {
     last_drawn = e;
     console.log(e);
     drawnItems.addLayer(e.layer);
  });
</script>
