<!DOCTYPE html>
<html>
  <head>
    <title>OpenUrban</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Open Urban", root_path, id: "logo" %> 
          <nav>
            <ul class="nav pull-left">
              <li><%= link_to "Map", '#' %></li>
              <li><%= link_to "Cities", '#' %></li>
              <li><%= link_to "Projects", projects_path %></li>
              <li><%= link_to "Add Project", new_project_path %></li>
            </ul>
          </nav>
          <div class="pull-right" style="margin-top: .35em">
            <nav>
              <ul class="nav pull-right">
                <li>
                    <div class="input-append">
                      <input class="span3" id="appendedInputButton" type="text" data-provide="typeahead" autocomplete="off" data-items="4" data-source="[&quot;Alabama&quot;,&quot;Alaska&quot;,&quot;Arizona&quot;,&quot;Arkansas&quot;,&quot;California&quot;,&quot;Colorado&quot;,&quot;Connecticut&quot;,&quot;Delaware&quot;,&quot;Florida&quot;,&quot;Georgia&quot;,&quot;Hawaii&quot;,&quot;Idaho&quot;,&quot;Illinois&quot;,&quot;Indiana&quot;,&quot;Iowa&quot;,&quot;Kansas&quot;,&quot;Kentucky&quot;,&quot;Louisiana&quot;,&quot;Maine&quot;,&quot;Maryland&quot;,&quot;Massachusetts&quot;,&quot;Michigan&quot;,&quot;Minnesota&quot;,&quot;Mississippi&quot;,&quot;Missouri&quot;,&quot;Montana&quot;,&quot;Nebraska&quot;,&quot;Nevada&quot;,&quot;New Hampshire&quot;,&quot;New Jersey&quot;,&quot;New Mexico&quot;,&quot;New York&quot;,&quot;North Dakota&quot;,&quot;North Carolina&quot;,&quot;Ohio&quot;,&quot;Oklahoma&quot;,&quot;Oregon&quot;,&quot;Pennsylvania&quot;,&quot;Rhode Island&quot;,&quot;South Carolina&quot;,&quot;South Dakota&quot;,&quot;Tennessee&quot;,&quot;Texas&quot;,&quot;Utah&quot;,&quot;Vermont&quot;,&quot;Virginia&quot;,&quot;Washington&quot;,&quot;West Virginia&quot;,&quot;Wisconsin&quot;,&quot;Wyoming&quot;]">
                      <button class="btn" type="button"><i class="icon-search"></i></button>
                    </div>
                </li>
                <li style="padding-left: .8em;">
                  <% if user_signed_in? %>
                    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
                  <% else %>
                    <%= link_to('Login', new_user_session_path)  %>  
                  <% end %>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <% if notice.present? %>
        <p class="notice"><%= notice %></p>
      <% end %>
 
     <% if alert.present? %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
    <footer class="footer">
      <div class="center">
        <div class="footer_section">
      <div class="row">
        <div class="span2 offset2" style="text-align: left;">
          <strong>CONNECT</strong><br>
          <div>
            <a href="http://www.facebook.com/OpenUrban">Facebook</a>
          </div>
          <div>
            <a href="https://twitter.com/Open_Urban/">Twitter</a>
          </div>
          <div>
            <a href="http://openurban.us5.list-manage1.com/subscribe?u=97e97774dbd51494c7edde31b&id=7dae8e55d3">Newsletter</a>
          </div>
          <div>
            <a href="mailto:info@openurban.com">Email</a>
          </div>      
        </div>  
        <div class="span2" style="text-align: left;">
          <strong>SUPPORT</strong><br>
          <div>
            <a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=RXBUJfKEXEjZogtD0-JPW4cK3P8TBMzc5NVN5U6z95zE5kTTMpQFrB7yAlS&dispatch=5885d80a13c0db1f8e263663d3faee8d14f86393d55a810282b64afed84968ec">Donate</a>
          </div>
          <div>
            <a href="https://github.com/waltz/openurban/tree/lebbeus">Github</a>
          </div>    
        </div>
        <div class="span2" style="text-align: left;">
          <strong>ABOUT</strong>
          <div>
            <a href="/pages/team.html.erb">Team</a>
          </div>
          <div>
            <a href="/pages/history.html.erb">History</a>
          </div>    
        </div>
        <div class="span2" style="text-align: left;">
          <strong>HELP</strong>
          <div>
            <a href="/pages/guidelines.html.erb">Guidelines</a>
          </div>
          <div>
            <a href="/pages/how_to.html.erb">How To</a>
          </div>
          <div>
            <a href="/pages/FAQ.html.erb">FAQ</a>
          </div>    
        </div>
        <div class="span2" style="text-align: left;">
          <strong>CC License</strong> 
          <div>
            <a href="/pages/disclaimers.html.erb">Disclaimers</a> 
          </div>
          <div>
            <a href="/pages/privacy_policy.html.erb">Privacy Policy</a>
          </div>  
        </div>
      </div>
      <div class="span11 offset1" style="border-top: 1px solid #eaeaea; font-size: .75em; margin-top: .5em; margin-bottom: .25em; padding-top: .25em; ">
        OpenUrban is a non-profit registered in the state of Washington - 501(c)3 status pending
      </div>
    </div>
    </div>
    </footer>
  </body>
</html>
